#pswd_info ul, #pswd_info li {
    margin:0;
    padding:0;
    list-style-type:none;
}

#pswd_info {
    /* position:absolute; */
    position:relative;
    /* bottom:-75px; */
    /* bottom: -115px\9; */ /* IE Specific */
   /*  right:55px; */
    width:250px;
    padding:15px;
    background:#fefefe;
    font-size:.875em;
    border-radius:5px;
    box-shadow:0 1px 3px #ccc;
    border:1px solid #ddd;
}
#pswd_info h4 {
    margin:0 0 10px 0;
    padding:0;
    font-weight:normal;
}

#pswd_info::before {
    content: "\25B2";
    /* position:absolute; */
    position:relative;
    top:-12px;
    left:45%;
    font-size:14px;
    line-height:14px;
    color:#ddd;
    text-shadow:none;
    display:block;
}

#pswd_info .invalid {
    background:url(../../images/passwordchange/cancel.png) no-repeat 0 50%; 
    padding-left:22px;
    line-height:24px;
    color:#ec3f41;
}
#pswd_info .valid {
    background:url(../..//images/passwordchange/right.png) no-repeat 0 50%; 
    padding-left:22px;
    line-height:24px;
    color:#3a7d34;
}
#register {
	margin-left:100px;	
}
#result{
	margin-left:5px;
}

#register .short{
	font-weight:bold;
color:#FF0000;
font-size:larger;
}

#register .weak{
	font-weight:bold;
color:orange;
font-size:larger;
}

#register .good{
	font-weight:bold;
color:#2D98F3;
font-size:larger;
}

#register .strong{
	font-weight:bold;
color: limegreen;
font-size:larger;
}
#container{			
	width:600px;
	margin:0 auto;
	background:#ffffff;
	padding:20px;
}

#header{
	text-align:center;
	margin:20px 0 40px;
}