*{margin: 0; padding: 0;}
a:hover{text-decoration: none;}
body {
    margin: 0 auto; padding: 0;
    color: #252525;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 12px;
    line-height: 18px;
}
.container-fluid{margin: 100PX;padding: 0;margin-left: 245px;}
.container{max-width: 1170px;}
  .bg-color{ padding:3px 5px; }
/*.bg-color{background-image:url('/images/header-bg.png'); padding: 5px; }*/
 
.welcome-guest{ height: 15px; }
ul.welcome-guest  li a{color: #fff;}
.menu-header{background: #2a8c12;
    height: 39px; margin-bottom: 5px;}
.menu-header ul li{margin: 0; padding: 0; list-style: none; float: right;}
#custom-search-input{margin-top: 25px;}
/*************************************************/

/***********************************************/
.jobportal-link ul{text-align: center;}
.jobportal-link ul li{margin: 0; padding: 0; list-style: none;  display: inline;  }
.jobportal-link ul li a{margin: 0; padding:10px 10px; text-align: center; color: #333;}
.nic-logo{float: right;}
/* added by sarba */
#footer_wrapper {
    clear: both;
    width: 100%;
    background: #74d41d    url(images/apps_footer.png) repeat-x;
color: #fff;
}
.txt-lable{padding-top: 5px;margin-bottom: 0;text-align: right; font-size: 12px; font-family: "Trebuchet MS",Arial,Helvetica,sans-serif;}
.txt-inputbox{ font-size: 14px;height: 25px; width: 100%; color: #333; color: #555;  background-image: none; border: 1px solid #ccc; }
.panel-common{margin-bottom: 15px; margin-top: 15px; height: 35px; width: auto; text-align: center; background-color: #74d41d;}
.panel-common a{color: #fff;}
.panel-common a:hover{color: #eee; text-decoration: none;}
.panel-common:hover{background: #e74c3c;}
.text-style{font-style: italic; font-weight: 400;}



/* carousel */

 .required-star
{
color: red;
}

.media-carousel
{
    margin-bottom: 0;
    padding: 0 40px 5px 40px;
    margin-top: 0px;
}
/* Previous button  */
.media-carousel .carousel-control.left
{
    right: -12px !important;
    background-image: none;
    background: none repeat scroll 0 0 #222222;
    border: 4px solid #FFFFFF;
    border-radius: 23px 23px 23px 23px;
    height: 40px;
    width: 40px;
    margin-top: 21px;
    padding: 5px;
}
/* Next button  */
.media-carousel .carousel-control.right
{
    right: -12px !important;
    background-image: none;
    background: none repeat scroll 0 0 #222222;
    border: 4px solid #FFFFFF;
    border-radius: 23px 23px 23px 23px;
    height: 40px;
    width : 40px;
    margin-top: 21px;
    padding: 5px;
}
/* Changes the position of the indicators */
.media-carousel .carousel-indicators
{
    right: 50%;
    top: auto;
    bottom: 0px;
    margin-right: -19px;
}
/* Changes the colour of the indicators */
.media-carousel .carousel-indicators li
{
    background: #c0c0c0;
}
.media-carousel .carousel-indicators .active
{
    background: #333333;
}
.media-carousel img
{
width: 81px;
height: 65px;
}
/* End carousel */

/*registation-page-css*/
.form-group {
    margin-bottom: 0px;
    background: #f5f5f5;
    padding: 5px;
    width: 100%;
    margin:20px auto 0px;
}
.page-header {
    padding-bottom: 0px;
    margin: 18px 0 0 ;
    border-bottom: 1px solid #eee;
   
}.add-height-50px{
height: 50px;

}
.page-header-red {
   
    border-bottom: solid 1px #cd0a0a;
}
.page-header-green {
   
    border-bottom: solid 1px #029d84;
}
.page-header-blue {
   
    border-bottom: solid 1px #1529B6;
}

.input-group-addon {
    padding: 3px 12px;
    }

.form-horizontal .radio-inline {
    padding-top: 0px;
    margin-top: 0;
    margin-bottom: 0;
}

.list-of-pia,.list-of-departments,.userlogin{height: 334px;}


.add-height-50px{
height: 50px;
}
thead:first-child > tr:first-child > th {
    border-top: 0;
    font-size: 14px;
   
}
.navbar-inverse {
   background-color:#4bb5b1;
    border-color: #337ab7;
    color:#fff;
    padding: 20px 0px;
   
}


.top-nav > li > a:hover, .top-nav > li > a:focus, .top-nav > .open > a, .top-nav > .open > a:hover, .top-nav > .open > a:focus {
    color: #fff;
    background-color: #333;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:focus, .navbar-inverse .navbar-nav > .active > a:hover {
    color: #FFF;
    background-color: #333;
}

.side-nav{
background-color:#4bb5b1;

    border-color: #337ab7;
    margin-top: 40px;
   
}
.navbar-inverse .navbar-nav > li > a {
    color: #fff;
}
.navbar-nav > li {
    float: left;
    border-bottom: solid 1.2px #eee;
}
.side-nav li a:hover, .side-nav li a:focus {
    outline: medium none;
    background-color: #333 !important;
}
.side-nav > li > ul > li > a {
    display: block;
    padding: 10px 15px 10px 38px;
    text-decoration: none;
    color: #000;
    background-color:#f0f0f5;
}
#page-wrapper{
padding-top:92px;
}
.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {

font-size:12px;
font-style:"Arial";
}
#page-title{
margin-left: -40px;
margin-right: -50px;
}
.panel-heading h3{
margin: 0px;
font-size: 21px;
/* font-weight: normal;
font-family: verdan; */
}
.dashboard-page{
margin:4em 0px 0px 0px;
}

.admin-box{
background: #0daed3;
padding: 0px;
position: relative;
height: 155px;
margin-right: 19px;
width: 19%;
}
#box-title{
background: #041218;
opacity: 0.5;
text-align: left;
color: #fff;
position: absolute;
width: 100%;
bottom: 0;
}
#box-title h1{
color: #fff;
font-size: 20px;
margin: 0px;
padding: 7px 13px;
width:75%;
float: left;
}
.fa-arrow-circle-o-right {
font-size: 20px;
color: #fff;
font-weight: normal;
float: right;
padding: 9px 16px;
}
/*---admin box2---*/

.admin-box1{
background: #74b749;
padding: 0px;
position: relative;
height: 150px;
margin-right:19px;
width:19%;
}
#box-title{
background: #041218;
opacity: 0.5;
text-align: left;
color: #fff;
position: absolute;
width: 100%;
bottom: 0;
}
#box-title h1{
color: #fff;
font-size: 20px;
margin: 0px;
padding: 7px 13px;
width:85%;
float: left;
}
.fa-arrow-circle-o-right {
font-size: 20px;
color: #fff;
font-weight: normal;
float: right;
padding: 9px 16px;
}

/*---admin box3---*/

.admin-box2{
background: #ed6d49;
padding: 0px;
position: relative;
height: 150px;
width:19%;
}
#box-title{
background: #041218;
opacity: 0.5;
text-align: left;
color: #fff;
position: absolute;
width: 100%;
bottom: 0;
}
#box-title h1{
color: #fff;
font-size: 20px;
margin: 0px;
padding: 7px 13px;
width:84%;
float: left;
}
.fa-arrow-circle-o-right {
font-size: 20px;
color: #fff;
font-weight: normal;
float: right;
padding: 9px 16px;
}

/*---admin box4---*/

.admin-box3{
background:#ecbb43;
padding: 0px;
position: relative;
height: 150px;
width:19%;
margin-right: 19px;
}
#home-icon{
font-size: 50px;
color: #fff;
font-weight: bold;
float: left;
padding: 30px 20px;
}
#box-title{
background: #041218;
opacity: 0.5;
text-align: left;
color: #fff;
position: absolute;
width: 100%;
bottom: 0;
}
#box-title h1{
color: #fff;
font-size: 20px;
margin: 0px;
padding: 7px 13px;
width:84%;
float: left;
}
.fa-arrow-circle-o-right {
font-size: 20px;
color: #fff;
font-weight: normal;
float: right;
padding: 9px 16px;
}

/*---admin box5---*/

.admin-box4{
background: #0daed3;
padding: 0px;
position: relative;
height: 150px;
width:19%;
}

#box-title{
background: #041218;
opacity: 0.5;
text-align: left;
color: #fff;
position: absolute;
width: 100%;
bottom: 2px;
}

.box-title-color-text
{
	color: #FFFFFF;
	font-size: 30px;
}




#box-title h1{
color: #fff;
font-size: 20px;
margin: 0px;
padding: 7px 13px;
width:84%;
float: left;
}
.fa-arrow-circle-o-right {
font-size: 20px;
color: #fff;
font-weight: normal;
float: right;
padding: 9px 16px;
}


label{

font-weight:400;
font-size:16px;
}
.table > tbody > tr > td{
/*
padding: 2px;
*/
line-height:2;
}
 .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 5px;
  }
  .table>thead>tr.success>th
  {
    background-color: #4493D6;
}
.table>tbody>tr.success>th
  {
    background-color: #4493D6; color:#fff;
}
.admi-form{border: 1px solid #eee; padding-bottom:15px}
.admin-head .page-header{border: 0px;padding:0 0 15px 0; color:#ff9900; font-size:24px; margin:3px 0 }
.add-height{margin:2px 0px 3px;}
.res-sub{padding-top:10px }
.btn-costum{
    color: #fff;
    background-color: #ff9900;
    border-color: #e68a00;
}
.btn-costum:hover {
    color: #fff;
    background-color:#cc7a00;
    border-color: #b36b00;
}
.table>thead:first-child>tr:first-child>th {
    border-top: 0;
     /* color:#070750 */
}


.pers-i{margin-left: 30px; color:#3366ff; border-bottom:1px solid #eee; font-weight: bold; margin-bottom: 10px}
.sig-depart{margin-left:15px; padding-top: 50px;}
.panel-default > .panel-heading {
    color: #fff;
    background-color: #337ab7;
    /*
    border-color: #e6ac00;
    */
}
.course-off{color:#000;}
.course-off:hover{color:#ff0000;cursor: pointer}
.train-reg{padding-bottom:15px;}
.train-reg-f label{font-weight: 600}
.input-group-btn {
    position: relative;
    font-size: 0;
    white-space: nowrap;
 
}
.input-group-btn:last-child > .btn, .input-group-btn:last-child > .btn-group {
    z-index: 2;
    margin-left: -1px;
    padding: 8.8;
}
.mis-logo-dept{
background-color: #faffbd;
    border: solid 1px #8a6d3b;
    border-radius: 4px;
}
.list{border-color: #8a6d3b;}

.naveen-logo{margin-left: 274px;}


.captcha-image {
    width: 125px;
    height: 35px;
}
.btn-font-size
{
font-size: 12px;
}
fieldset.scheduler-border {
    border: 1px groove #ddd !important;
    padding: 0 1.4em 1.4em 1.4em !important;
    margin: 0 0 1.5em 0 !important;
    -webkit-box-shadow:  0px 0px 0px 0px #000;
            box-shadow:  0px 0px 0px 0px #000;
}

legend.scheduler-border {
    font-size: 1.2em !important;
    font-weight: bold !important;
    text-align: left !important;
    border:none;
width:108px;

}
.vertical-text{
  /*  transform: rotate(-90deg); */
  /* transform: rotate(90deg);
transform-origin: left top 0; */
color: #ff0000;
font-weight: bold;
}
.vertical-holiday span{
display: block;
text-transform: uppercase;
color: #00ff00;
font-weight: bold;
}
